In [27]:
import pandas as pd
import matplotlib.pyplot as plt

In [28]:
country_mapping = {
    'CA': 'Canada',
    'AU': 'Australia',
    'CI': "Cote D'ivoire",
    'PK': 'Pakistan',
    'AF': 'Afghanistan',
    'KE': 'Kenya',
    'MQ': 'Martinique',
    'GB': 'United Kingdom',
    'SK': 'Slovakia',
    'CZ': 'Czech Republic',
    'DE': 'Germany',
    'FR': 'France',
    'HR': 'Croatia',
    'PL': 'Poland',
    'ZA': 'South Africa',
    'CH': 'Switzerland',
    'NG': 'Nigeria',
    'SE': 'Sweden',
    'IE': 'Ireland',
    'ES': 'Spain',
    'MX': 'Mexico',
    'IN': 'India',
    'LT': 'Lithuania',
    'GH': 'Ghana',
    'BD': 'Bangladesh',
    'SI': 'Slovenia',
    'HK': 'Hong Kong',
    'NO': 'Norway',
    'NL': 'Netherlands',
    "Cote D'ivoire": "Cote D'ivoire",
    'DO': 'Dominican Republic',
    'PT': 'Portugal',
    'PH': 'Philippines',
    'MY': 'Malaysia',
    'SG': 'Singapore',
    'AT': 'Austria',
    'IT': 'Italy',
    'DK': 'Denmark',
    'TR': 'Turkey',
    'BR': 'Brazil',
    'MA': 'Morocco',
    'TH': 'Thailand',
    'NZ': 'New Zealand',
    'JM': 'Jamaica',
    'KW': 'Kuwait',
    'VN': 'Vietnam',
    'QA': 'Qatar',
    'PE': 'Peru',
    'AL': 'Albania',
    'BB': 'Barbados',
    'RO': 'Romania',
    'BN': 'Brunei',
    'BH': 'Bahrain',
    'U.A.E.': 'United Arab Emirates',
    'RU': 'Russia',
    'CL': 'Chile',
    'MV': 'Maldives',
    'MT': 'Malta',
    'PG': 'Papua New Guinea',
    'UZ': 'Uzbekistan',
    'BG': 'Bulgaria',
    'CO': 'Colombia',
    'LR': 'Liberia',
    'AG': 'Antigua and Barbuda',
    'ZM': 'Zambia',
    'MU': 'Mauritius',
    'AI': 'Anguilla',
    'SA': 'Saudi Arabia',
    'TZ': 'Tanzania',
    'EE': 'Estonia',
    'KR': 'South Korea',
    'KH': 'Cambodia',
    'KY': 'Cayman Islands',
    'JO': 'Jordan',
    'BT': 'Bhutan',
    'MD': 'Moldova',
    'HT': 'Haiti',
    'VC': 'Saint Vincent and The Grenadine',
    'DM': 'Dominica',
    'ME': 'Montenegro',
    'MK': 'North Macedonia',
    'MZ': 'Mozambique',
    'HU': 'Hungary',
    'MN': 'Mongolia',
    'IS': 'Iceland',
    'AR': 'Argentina',
    'EC': 'Ecuador',
    'GU': 'Guam',
    'AW': 'Aruba',
    'PF': 'French Polynesia',
    'LS': 'Lesotho',
    'LU': 'Luxembourg',
    'KN': 'Saint Kitts and Nevis',
    'SX': 'Netherlands',
    'Sint Maarten (Dutch part)' : 'Netherlands',
    'VI': 'Virgin Islands (U.S.)',
    'PY': 'Paraguay',
    'FJ': 'Fiji',
    'GD': 'Grenada',
    'GY': 'Guyana',
    'MF': 'France',
    'TW': 'Taiwan',
    'MW': 'Malawi',
    'GF': 'French Guiana',
    'BJ': 'Benin',
    'GP': 'Guadeloupe',
    'TC': 'Turks and Caicos Islands',
    'BZ': 'Belize',
    'SV': 'El Salvador',
    'BO': 'Bolivia',
    'SN': 'Senegal',
    'GN': 'Guinea',
    'CR': 'Costa Rica',
    'ML': 'Mali',
    'BM': 'Bermuda',
    'BQ': 'Bonaire, Sint Eustatius and Saba',
    'AD': 'Andorra',
    'OM': 'Oman',
    'PM': 'Saint Pierre and Miquelon',
    'RE': 'Reunion',
    'LC': 'Saint Lucia',
    'NC': 'New Caledonia',
    'Kosovo': 'Kosovo',
    'Japan': 'Japan',
    'China': 'China',
    'Venezuela': 'Venezuela',
    'Trinidad and Tobago': 'Trinidad and Tobago',
    'United+Kingdom': 'United Kingdom',
    'Hong+Kong': 'Hong Kong',
    'South+Africa': 'South Africa',
    'Puerto Rico': 'Puerto Rico',
    'Sao Tome and Principe': 'Sao Tome and Principe',
    'French Polynesi': 'French Polynesia',
    'United Arab Emi': 'United Arab Emirates',
    'Hong Kong S.A.R.': 'Hong Kong',
    'Runion--trunc': 'Reunion',
    'Virgin Islands': 'Virgin Islands (U.S.)',
    'Iran': 'Iran',
    'Bosnia and Herz': 'Bosnia and Herzegovina',
    'Saint Vincent a': 'Saint Vincent and The Grenadine',
    'Papua New Guine': 'Papua New Guinea',
    'Myanmar': 'Myanmar',
    'Zimbabwe': 'Zimbabwe',
    'Sierra Leone': 'Sierra Leone',
    'Syria': 'Syria',
    'Trinidad and To': 'Trinidad and Tobago',
    'Palestine': 'Palestine',
    'Burundi': 'Burundi',
    'Laos': 'Laos',
    'Dominican Repub': 'Dominican Republic',
    'United States M': 'United States',
    'Antigua and Bar': 'Antigua and Barbuda',
    'Palau': 'Palau',
    'Djibouti': 'Djibouti',
    'Curaçao': 'Curacao',
    'Swaziland': 'Eswatini',
    'Palestinian Authority': 'Palestine',
    'Mauritania': 'Mauritania',
    'Monaco': 'Monaco',
    'Åland Islands': 'Aland Islands',
    'Gibraltar': 'Gibraltar',
    'Armenia': 'Armenia',
    'Seychelles': 'Seychelles',
    'Paraguay': 'Paraguay',
    'Equatorial Guin': 'Equatorial Guinea',
    'Kyrgyzstan': 'Kyrgyzstan',
    'Faroe Islands': 'Faroe Islands',
    'Antarctica': 'Antarctica',
    'United States': 'United States',
    'Wallis and Futu': 'Wallis and Futuna',
    'Eritrea': 'Eritrea',
    'Turks and Caico': 'Turks and Caicos Islands',
    'land Islands--trunc': 'land Islands',  # Truncated, assuming Åland Islands
    'Congo (Republic': 'Republic of the Congo',
    'Chad': 'Chad',
    'Samoa': 'Samoa',
    'Sao Tome and Pr': 'Sao Tome and Principe',
    'Tonga': 'Tonga',
    'Tahiti': 'French Polynesia',  # Assuming Tahiti is part of French Polynesia
    'Åland Islands': 'Aland Islands',
    'Nauru': 'Nauru',
    'Taiwan': 'Taiwan',
    'Solomon Islands': 'Solomon Islands',
    'Comoros': 'Comoros',
    'NigeriaHouse no 3 Pre': 'Nigeria',  # Unclear data, assuming Nigeria
    'Tajikistan': 'Tajikistan',
    'Nicaragua': 'Nicaragua',
    'Curaçao': 'Curacao',
    'Kiribati': 'Kiribati',
    'Saint Martin (F': 'Saint Martin',
    'Bonaire, Sint E': 'Bonaire, Sint Eustatius and Saba',
    'Saint Kitts and': 'Saint Kitts and Nevis',  # Incomplete entry, assuming Nevis
    'South Georgia a': 'South Georgia and The South Sandwich Islands',  # Incomplete entry, assuming South Sandwich Islands
    'British Indian': 'British Indian Ocean Territory',
    'Guernsey': 'Guernsey',
    'Liechtenstein': 'Liechtenstein',
    'Greenland': 'Greenland',
    'French Southern': 'France',
    'YT' : 'France',
    'Korea': 'South Korea',  # Assuming South Korea
    'BS': 'The Bahamas',
    'ID': 'Indonesia',
    'RÃ©union': 'France',  # Assuming Réunion is part of France
    'AE': 'United Arab Emirates'
}

In [32]:
# Read the CSV file into a DataFrame
login_dataframe = pd.read_csv("Dataset/login.csv")

# Remap the 'country' column using the country_mapping dictionary
login_dataframe['country'] = login_dataframe['country'].map(country_mapping).fillna(login_dataframe['country'])

# Remove the 'account_currency' and 'reg_date' columns
login_dataframe.drop(columns=['account_currency'], inplace=True)

login_dataframe.head()

    login  country    reg_date
0  457547  Romania  1614212132
1  474589   Canada  1609987442
2  504321   Canada  1602642710
3  504322   Canada  1602736545
4  504326   Canada  1603093152

In [47]:
# Read the CSV file into DataFrames
trades_dataframe = pd.read_csv("Dataset/trades.csv")

# Grouping by 'login' and counting the total number of tickets
total_tickets_per_login = trades_dataframe.groupby('login')['ticket'].count()

# Filtering rows where 'cmd' is 1 and counting the number of such tickets per login
cmd_1_tickets_per_login = trades_dataframe[trades_dataframe['cmd'] == 1].groupby('login')['ticket'].count()

# Calculating the percentage of tickets where 'cmd' is 1
percentage_cmd_1_per_login = (cmd_1_tickets_per_login / total_tickets_per_login) * 100

# Grouping by 'login' and calculating the average volume of trades per login
average_volume_per_login = trades_dataframe.groupby('login')['volume'].mean()
average_volume_usd_per_login = trades_dataframe.groupby('login')['volume_usd'].mean()

average_open_price_per_login = trades_dataframe.groupby('login')['open_price'].mean()
average_close_price_per_login = trades_dataframe.groupby('login')['close_price'].mean()


# Filter out zero values for TP and SL
non_zero_tp_dataframe = trades_dataframe[trades_dataframe['tp'] != 0]
non_zero_sl_dataframe = trades_dataframe[trades_dataframe['sl'] != 0]

# Compute the average TP and SL per login
average_tp_per_login = non_zero_tp_dataframe.groupby('login')['tp'].mean()
average_sl_per_login = non_zero_sl_dataframe.groupby('login')['sl'].mean()

average_commission_per_login = trades_dataframe.groupby('login')['commission'].mean()
average_swaps_per_login = trades_dataframe.groupby('login')['swaps'].mean()
average_profit_per_login = trades_dataframe.groupby('login')['profit'].mean()

reason_per_login = trades_dataframe.groupby('login')['reason'].apply(lambda x: x.value_counts().idxmax())

# Creating a DataFrame from the series
result_dataframe = pd.DataFrame({
    'Total_Trades' : total_tickets_per_login,
    'Sell_Percentage': percentage_cmd_1_per_login, 
    'Average_volume': average_volume_per_login,
    'Average_volume_usd': average_volume_usd_per_login,
    'Average_Open_Price': average_open_price_per_login,
    'Average_Close_Price': average_close_price_per_login,
    'Average_take_profit': average_tp_per_login,
    'Average_stop_loss': average_sl_per_login,
    'Trading_Method' : reason_per_login,
    'Average_Commision' : average_commission_per_login,
    'Average_Swaps' : average_swaps_per_login,
    'Average_Profit' : average_profit_per_login,
    })

In [48]:
# Merge the two dataframes on the 'login' column
merged_dataframe = pd.merge(login_dataframe, result_dataframe, on='login', how='inner')

# Display the merged dataframe
merged_dataframe.head()

,login,country,reg_date,Total_Trades,Sell_Percentage,Average_volume,Average_volume_usd,Average_Open_Price,Average_Close_Price,Average_take_profit,Average_stop_loss,Trading_Method,Average_Commision,Average_Swaps,Average_Profit
0,504326,Canada,1603093152,560,48.035714,0.277143,1.148008e+08,10208.759294,10148.661936,22032.306419,12994.050171,0,0.00,0.000000,-13.071036
1,504336,Cote D'ivoire,1603609255,113,23.008850,0.019292,2.968029e+05,1412.223088,1411.908977,1579.238933,1450.396569,0,0.00,-0.001593,-0.792920
2,504357,Canada,1604371326,2,50.000000,0.010000,5.473667e+07,185.297000,185.276500,185.297500,185.271000,0,-0.07,0.000000,-1.520000
3,504359,Canada,1604456304,154,44.805195,7.321169,3.713990e+10,180.923747,180.915643,NaN,182.695481,5,0.00,-3.067532,-179.986104
4,504361,Canada,1604459164,1,100.000000,0.010000,4.536362e+07,149.770000,151.079000,NaN,NaN,5,0.00,-1.040000,-8.660000